<%- include('../../partials/head.ejs') %>

<div class="container my-container">
  <div class="jumbotron">
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, soluta.
    </h1>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ea molestiae
      harum placeat saepe consequatur rerum? Sed eligendi similique nihil?
    </p>
  </div>
</div>

<%- include('../../partials/footer.ejs') %>
